body {
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 1.875rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.5;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1rem;
  padding: 1.875rem;
}

#splash-image {
  max-width: 20%;
  height: auto;
  margin: 3rem auto 0;
  display: block;
}

#preview-image {
  margin: 2.5rem auto; 
  height: auto;
  max-width: 90%;
  display: block;
}

#preview-gif {
  margin: 2.5rem auto; 
  height: auto;
  max-width: 70%;
  display: block;
  border: 5px solid black;
  border-radius: 5px;
}

#badge:hover {
  border: 1px solid #c6c6c6;
}
